repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]
        exclude: \.ipynb$
      
      # Run the formatter
      - id: ruff-format
        types_or: [python, pyi]
        exclude: \.ipynb$